/node_modules
/.idea
# Transpiled JS should not be included in repository.
# Rather it should be included in the npm package alone.
/dist
*.tgz
/src/benchmarks/node_modules/.vite/vitest/da39a3ee5e6b4b0d3255bfef95601890afd80709/results.json
